.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 60px;
    background-color: #4169E1;
}

.logo{
    margin-left: 60px;
}

.icon{
    margin-right: 60px;
    cursor: pointer;
}

.collapse_bar{
    height: 0px;
    background-color: #4169E1;
    border-top: 1px solid rgba(000, 000, 000, 0.1);
    transition: all 0.5s;
}

ul{
    list-style: none;
    margin-top: 10px;
}

ul, li, a{
    color: #FFF;
    text-decoration: none;
    margin-bottom: 15px;
}